<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Aggiungi scenario</title>
</head>
<body>

    <form th:action="@{/add-scenario/process}" method="post">

        <label th:for="scenarioDescription">Descrivi il nuovo scenario:</label><br>
        <textarea id="scenarioDescription" th:name="scenarioDescription" rows="4" cols="50"
                  placeholder="Tanto tempo fa in una galassia lontana lontana..." required></textarea><br><br>

        <p th:text="${objectCreationMessage}"></p>


        <button id="addObject">Aggiungi oggetto</button>

        <div id="additionalObjects" style="display: none;">
            <select th:name = "necessaryObject">
                <option th:each="object : ${currentStoryObjects}" th:value="${object.id}" th:text="${object.name}"></option>
            </select>
        </div>

        <script>
        document.getElementById("addObject").addEventListener("click", function() {
            var additionalObjects = document.getElementById("additionalObjects");
            if (additionalObjects.style.display === "none") {
                additionalObjects.style.display = "block";
            } else {
                additionalObjects.style.display = "none";
            }
        });
    </script>

        <input type="submit" value="Aggiungi scenario alla storia">
    </form>

<!--    <a th:href="@{/connect-scenarios}">Termina creazione scenari</a>-->

    <form th:action="@{/connect-scenarios}" method="post">
        <input type="submit" value="Vai a collegare gli scenari inseriti">
    </form>

</body>
</html>