<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Aggiungi scenario</title>
</head>
<body>

    <form th:action="@{/create-scenario/process}" method="post">

        <label th:for="scenarioDescription">Descrivi il nuovo scenario:</label><br>
        <textarea id="scenarioDescription" th:name="scenarioDescription" rows="4" cols="50"
                  placeholder="Tanto tempo fa in una galassia lontana lontana..." required></textarea><br><br>


        <p th:text="${necessaryObjectMessage}"></p>
        <select th:name = "necessaryObjectId">
            <option value="">Nessun oggetto necessario</option>
            <option th:each="object : ${currentStoryObjects}" th:value="${object.id}" th:text="${object.name}"></option>
        </select>
        <p th:text = "${gainObjectMessage}"></p>
        <select th:name = "foundObjectId">
            <option value="">Nessun oggetto ottenibile</option>
            <option th:each="object : ${currentStoryObjects}" th:value="${object.id}" th:text="${object.name}"></option>
        </select>

        <input type="submit" value="Aggiungi scenario alla storia">
    </form>

<!--    <a th:href="@{/connect-scenarios}">Termina creazione scenari</a>-->

    <form th:action="@{/connect-scenarios}" method="post">
        <input type="submit" value="Vai a collegare gli scenari inseriti">
    </form>

</body>
</html>