<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catalogo</title>
    <!-- Link per Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Collegamento al file CSS personalizzato -->
    <link rel="stylesheet" type="text/css" href="../styles/styles.css">
</head>
<body>

<div class="header">
    <h2>Catalogo delle Storie</h2>
</div>

<div class="container">
    <ol>
        <li th:each="story : ${stories}">
            <div class="story">

                <h3 th:text="${story.title}"></h3>
                <p th:text="${story.id}"></p>
                <p th:text="${story.plot}"></p>
                <a class="btn btn-primary" th:href="@{/play-story?storyId={storyId}(storyId=${story.id})}">Gioca storia</a>


            </div>
        </li>
    </ol>
</div>

<footer class="footer">
    <div class="container">
        <p>&copy; 2024 SWENG - Tutti i diritti riservati</p>
    </div>
</footer>

<!-- Link per Bootstrap JS (opzionale, necessario solo se si utilizzano componenti JS di Bootstrap) -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

