<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Connetti gli scenari</title>
</head>
<body>
    <p th:text="${message}"></p>

    <form th:action="@{/connect-scenarios/process}" method="post">

        <select th:name = "start">
            <option th:each="scenario : ${scenarios}" th:value="${scenario.id}" th:text="${scenario.description}"></option>
        </select>

        <select th:name = "end">
            <option th:each="scenario : ${scenarios}" th:value="${scenario.id}" th:text="${scenario.description}"></option>
        </select>
        <input type="submit" value="Connetti">
    </form>

    <a th:href="@{/catalog}">Termina connessione scenari</a>


</body>
</html>