<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Story</title>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../styles/styles.css">
</head>

<body>
<div class="header">
    <h2>Crea una nuova storia</h2>
    <form action="/home">
        <button type="submit" class="btn btn-outline-light">Torna alla home</button>
    </form>
    <a href="/logout" class="btn btn-outline-light logout">Logout</a>
</div>

<div class="container">
    <form action="/create-story/process" method="post" class="mt-4">
        <div class="form-group">
            <label for="title">Titolo:</label>
            <input type="text" class="form-control" id="title" name="title" required>
        </div>
        <div class="form-group">
            <label for="plot">Trama:</label>
            <textarea class="form-control" id="plot" name="plot" rows="4" cols="50" required></textarea>
        </div>
        <div class="form-group">
            <label for="category">Genere:</label>
            <select class="form-control" id="category" name="category" required>
                <option value="Horror">Horror</option>
                <option value="Azione">Azione</option>
                <option value="Fantasy">Fantasy</option>
                <option value="Comica">Comica</option>
                <option value="Drammatica">Drammatica</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Crea storia</button>
    </form>
</div>

<footer th:insert="fragments/footer.html :: footer"></footer>

</body>
</html>