<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Aggiungi scenario iniziale</title>
</head>
<body>
    <p th:text="${messaggio}"></p>
    <form th:action="@{/create-initial-scenario/process}" method="post">

        <label th:for="initialScenarioDescription">Descrivi lo scenario iniziale:</label><br>
        <textarea id="initialScenario" th:name="initialScenarioDescription" rows="4" cols="50"
                  placeholder="Tanto tempo fa in una galassia lontana lontana..." required></textarea><br><br>

<!--        <input type="hidden" id="storyId" th:name="storyId" value="${storyId}"> &lt;!&ndash; Aggiungi l'ID del creatore &ndash;&gt;-->

        <p th:text="${objectCreationMessage}"></p>

            <label th:for="initialScenarioDescription">Inserisci il titolo dell'oggetto:</label><br>
            <textarea id="objectTitle" th:name="objectTitle" rows="1" cols="50"
                      placeholder="Una gamba del Garpez"></textarea><br><br>

            <label th:for="initialScenarioDescription">Inserisci la descrizione dell'oggetto:</label><br>
            <textarea id="objectDescription" th:name="objectDescription" rows="3" cols="50"
                      placeholder="Pezzo d'arte dal valore inestimabbile"></textarea><br><br>

        <input type="submit" value="Aggiungi scenario iniziale">
    </form>


</body>
</html>