<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crea oggetti</title>
    <!-- Link per Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Collegamento al file CSS personalizzato -->
    <link rel="stylesheet" type="text/css" href="../styles/styles.css">
</head>
<body>

<div class="header">
    <h2>Crea oggetti</h2>
</div>
<div class="container">
    <form action="/create-object/process" method="post" class="mt-4">
        <p th:text="${message}"></p>
        <div class="form-group">
            <label for="title">Titolo dell'oggetto:</label>
            <textarea id="title" class="form-control" name="title" rows="1"
                      placeholder="Una gamba del Garpez" required></textarea>
        </div>
        <div class="form-group">
            <label for="description">Descrizione dell'oggetto:</label>
            <textarea id="description" class="form-control" name="description" rows="3"
                      placeholder="Pezzo d'arte dal valore inestimabbile" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Aggiungi oggetto alla storia</button>
    </form>
    <div class="mt-3">
        <a href="/create-scenario" class="btn btn-secondary">Vai alla creazione scenari</a>
        <a href="/create-riddle" class="btn btn-secondary">Vai alla creazione indovinelli</a>
    </div>
</div>

<footer th:insert="fragments/footer.html :: footer"></footer>


</body>
</html>

