<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../styles/styles.css">
</head>

<body>
    <div class="header">
        <h2>Accedi</h2>
    </div>

    <div class="container">
        <form action="/login/process" method="post" class="mt-4">
            <div th:if ="${error} != null">
                <div class="alert alert-danger" role="alert">
                    <p th:text = "${error}">  </p>
                </div>
            </div>
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="Username" style="width: 300px;" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Password" style="width: 300px;" required>
            </div>
            <button type="submit" class="btn btn-primary">Accedi</button>
        </form>
        <p class="mt-3">Non sei registrato? <a href="/registration">Registrati</a></p>
    </div>

    <footer th:insert="fragments/footer.html :: footer"></footer>

</body>
</html>