<!--
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Login Failed</title>
</head>
<body>
      <p th:text="${error}"> </p>
      <p>Torna a <a th:href="@{/login}">Login</a> </p>
</body>
</html>-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Failed</title>
    <!-- Link per Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .alert-danger {
            margin: auto;
            border-color: black;
            background-color: red;
            color: black;
        }
    </style>
</head>
<body>

<div class="container mt-5">
    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">Hai inserito le credenziali sbagliate!</h4>
        <p th:text="${error}"> </p>
        <hr style="border-color: black;">
        <p class="mb-0">Torna alla pagina di <a th:href="@{/login}" class="alert-link">Login</a></p>
    </div>
</div>


</body>
</html>