<!DOCTYPE html>
<html lang="en" xmlns:th="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../styles/styles.css">
</head>

<body>
    <div class="header">
        <h1>SWENG</h1>
        <p class="lead">Benvenuto al sito per creare e giocare storie emozionanti</p>
    </div>

    <div class="container">
        <div class="choices">
            <a class="btn btn-primary btn-lg" href="/login">Accedi</a>
            <a class="btn btn-primary btn-lg" href="/registration">Registrati</a>
            <a class="btn btn-info btn-lg" href="/visitor-catalog">Continua come Visitatore</a>
        </div>
    </div>

    <footer th:insert="fragments/footer.html :: footer"></footer>

</body>
</html>