<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Gioca la Storia</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>

    <div class="container mt-5">
        <h2>Scenario Corrente</h2>
        <p th:text="${scenario.description}">Descrizione dello Scenario</p>



        <div th:if="${foundObjectMessage} != null">
            <h3 th:text="${foundObjectMessage}"></h3>
        </div>

<!--        &lt;!&ndash;solo c'è un indovinello da risolvere, mostriamo questa parte &ndash;&gt;-->
<!--        <div th:if="${scenario.riddleId} != 0">-->
<!--            <form th:action="@{/choose-scenario}" method="post">-->
<!--                <h2>Indovinello:</h2>-->
<!--                <p th:text="${riddleMessage}"></p>-->

<!--                <textarea class="form-control" th:name="response" rows="4" cols="50"-->
<!--                          placeholder="Inserisci la risposta" required></textarea>-->
<!--                <button type="submit" class="btn btn-info mt-2">Inserisci risposta</button>-->
<!--                <input type="hidden" th:name="scenarioId" th:value="${scenario.id}"/>-->
<!--                <input type="hidden" th:name="riddleAnswer" th:value="${riddle.answer}"/>-->

<!--            </form>-->
<!--        </div>-->

        <!-- Mostra le opzioni di scelta per lo scenario corrente se nextScenarios non è vuoto
         th:if="${not #lists.isEmpty(nextScenarios)}"-->
<!--        <div th:if="${scenario.riddleId} == 0">-->
            <h2>Scegli la tua prossima mossa:</h2>
            <form th:action="@{/choose-scenario}" method="post">
                <div th:each="option : ${scenario.nextScenarios}">
                    <button type="submit" class="btn btn-info mt-2" th:name="scenarioId" th:value="${option.id}" th:text="${option.description}">Opzione Scenario</button>
                </div>
            </form>
        </div>
<!--    </div>-->

</body>
</html>
