<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Gioca la Storia</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../styles/styles.css">
</head>
<body>

<div class="header">
    <h2>SWENG</h2>
    <form th:action="@{/catalog}" method ="get">
        <button type="submit" class="btn btn-outline-light">Torna al catalogo</button>
    </form>
</div>

<input type="hidden" th:value="${storyScenarios}" th:name="storyScenarios">

<div class="container mt-5">

    <!-- Aggiunto il pulsante "Salva partita" -->
    <div class="text-right mb-3">
        <form th:action="@{/save-game}" method="post">
            <input type="hidden" th:name="storyId" th:value="${storyId}" />
            <input type="hidden" th:name="scenarioId" th:value="${scenario.id}" />
            <button type="submit" class="btn btn-success">Salva partita</button>
        </form>
    </div>

    <div class="card">
        <div class="card-body">
            <h2 class="card-title">Scenario Corrente</h2>

            <!-- Visualizza il messaggio di errore se il giocatore non ha l'oggetto richiesto -->
            <div th:if="${error} != null" class="alert alert-danger" role="alert">
                <p th:text="${error}"></p>
            </div>

            <p class="card-text" th:text="${scenario.description}">Descrizione dello Scenario</p>

            <div th:if="${endStoryMessage} != null">
                <p class="card-text" th:text="${endStoryMessage}"></p>
                <form th:action="@{cancel-game}" method="get">
                    <input type="hidden" th:name="storyId" th:value="${storyId}" />
                    <button class="btn btn-primary" type="submit">Torna al catalogo</button>
                </form>
            </div>

            <div th:unless="${endStoryMessage} != null">

                <div th:if="${foundObjectMessage} != null">
                    <h3 th:text="${foundObjectMessage}"></h3>
                </div>

                <div th:if="${scenario.riddleId} != 0">

                    <form th:action="@{/process-choice}" method="post">
                        <h2 class="card-title">Indovinello:</h2>
                        <p class="card-text" th:text="${riddleMessage}"></p>

                        <textarea class="form-control" th:name="response" rows="4" cols="50"
                                  placeholder="Inserisci la risposta" required></textarea>
                        <button type="submit" class="btn btn-info mt-2">Inserisci risposta</button>

                        <input type="hidden" th:value="${scenario.id}" th:name="scenarioId">

                    </form>
                </div>

                <div th:if="${scenario.riddleId} == 0">
                    <h2 class="card-title">Scegli la tua prossima mossa:</h2>
                    <form th:action="@{/choose-scenario}" method="post">
                        <div th:each="option : ${scenario.nextScenarios}">
                            <button type="submit" class="btn btn-info mt-2" th:name="scenarioId" th:value="${option.id}" th:text="${option.description}">Opzione Scenario</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:insert="fragments/footer.html :: footer"></footer>

</body>
</html>