<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>La tua Pagina</title>
  <!-- Aggiungi qui eventuali collegamenti a fogli di stile o altri script -->
</head>
<body>

<div id="sezione1">
  <label th:for="initialScenarioDescription">Descrivi lo scenario iniziale:</label><br>
  <textarea id="initialScenario" th:name="initialScenarioDescription" rows="4" cols="50"
            placeholder="Tanto tempo fa in una galassia lontana lontana..." required></textarea><br><br>
  <p>Seleziona oggetto necessario</p>
  <select th:name = "start">
  </select>

  <p>Seleziona oggetto che si aggiunge all'inventario</p>
  <select th:name = "end">
  </select>
</div>

<button onclick="aggiungiSezione()">Aggiungi Sezione</button>

<script th:inline="javascript">
    var sezioneCounter = 1;
</script>


<script th:inline="javascript">
    function aggiungiSezione(){
      sezioneCounter++;
      sezioneClonata = document.getElementById('sezione1').cloneNode(true); // Clona la prima sezione
      document.body.appendChild(sezioneClonata); // Aggiunge la sezione clonata al documento

        var nuovaSezione = '<div id="sezione' + sezioneCounter + '">';
        nuovaSezione += '<label>Sezione ' + sezioneCounter + '</label>';

        nuovaSezione += '<textarea id="initialScenario" th:name="initialScenarioDescription" rows="4" cols="50 required></textarea><br><br>'
        nuovaSezione += '</div>';
    }
</script>


</body>
</html>
