<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrazione</title>
    <!-- Link per Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Collegamento al file CSS personalizzato -->
    <link rel="stylesheet" type="text/css" href="../styles/styles.css">
</head>

<body>
    <div class="header">
        <h2>Registrati</h2>
    </div>
    <div class="container">
        <form action="/registration/process" method="post" class="mt-4">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="Username" style="width: 300px;" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Password" style="width: 300px;" required>
            </div>
            <button type="submit" class="btn btn-primary">Registrati</button>
        </form>
    </div>

    <footer th:insert="fragments/footer.html :: footer"></footer>

</body>
</html>