body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;

form {
    width: 300px;
    margin: 0 auto;
}
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
input[type="submit"]:hover {
    background-color: #0056b3;
}

.story {
      border: 1px solid #ccc;
      border-radius: 5px;
      padding: 20px;
      margin-bottom: 20px;
      text-align: left;
  }
  .story h3 {
      margin-top: 0;
  }
  .story p {
      margin-top: 10px;
  }